<script setup lang="ts">
import { useCounterStore } from "../stores/counter";
import FirstComponent from "@/components/FirstComponent.vue";
import SecondComponent from "@/components/SecondComponent.vue";
const counterStrike = useCounterStore();
const props = withDefaults(
  defineProps<{
    firstComponent: number;
    secondComponent: number;
  }>(),
  {}
);
</script>
<template>
  <!-- <div>ใส่ FirstComponent และ SecondComponent</div> -->
  <v-container>
    <v-row justify="center"
      ><v-col>
        <FirstComponent></FirstComponent>
        <br />
        <v-btn @click="counterStrike.increment"> INCREMENT </v-btn>
      </v-col>
      <v-col>
        <SecondComponent></SecondComponent>
        <br />
        <v-btn @click="counterStrike.decrease"> DECREASE </v-btn></v-col
      ></v-row
    >
  </v-container>
</template>
