<script lang="ts" setup>
// import { ref } from "vue";
import SP3 from "@/components/SP3.vue";
import { useProductStore } from "../stores/product";
const productStrike = useProductStore();
</script>
<template>
  <!-- <div>
    {{ products }}
  </div> -->
  <v-container>
    <v-row>
      <v-col cols="6">
        <v-container style="height: 80vh; overflow: auto">
          <v-row>
            <v-col
              cols="4"
              v-for="(item, index) of productStrike.products"
              :key="index"
              ><SP3
                :id="item.id"
                :name="item.name"
                :price="item.price"
                :index="index"
              ></SP3>
            </v-col> </v-row
        ></v-container>
      </v-col>

      <v-col cols="6">
        <v-container style="height: 80vh; overflow: auto">
          <v-table
            ><thead>
              <tr>
                <th>order</th>
                <th>name</th>
                <th>price</th>
              </tr>
            </thead>
            <tbody>
              <tr
                v-for="(item, index) of productStrike.productLists"
                :key="index"
              >
                <td>{{ index + 1 }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.price }}</td>
              </tr>
            </tbody>
          </v-table>
        </v-container>
        <p style="font-size: 50pt">SUM: {{ productStrike.sumPrice }}</p>
      </v-col>
    </v-row>
  </v-container>
</template>
