<script lang="ts" setup>
import { ref } from "vue";
const img = ref("feeling_imgs/smile.png");
const mood = ref("Smile");
function change(status: string, feeling: string) {
  mood.value = status;
  img.value = feeling;
}
</script>
<template>
  <v-container fluid>
    <v-row>
      <v-col cols="5"><v-img :src="img" id="img"></v-img> </v-col>
      <v-col cols="7">
        <h1 style="text-align: center; font-size: 60pt" class="pd-10">
          {{ mood }}
        </h1>

        <v-btn
          block
          @click="change('Angry', 'feeling_imgs/angry.png')"
          :color="mood === 'Angry' ? 'yellow' : 'none'"
          style="font-size: 40pt; height: auto"
          ><p>ANGRY</p></v-btn
        ><br />

        <v-btn
          block
          @click="change('Cute', 'feeling_imgs/cute.png')"
          :color="mood === 'Cute' ? 'yellow' : 'none'"
          style="font-size: 40pt; height: auto"
          ><p>CUTE</p></v-btn
        ><br />

        <v-btn
          block
          @click="change('Excited', 'feeling_imgs/excited.png')"
          :color="mood === 'Excited' ? 'yellow' : 'none'"
          style="font-size: 40pt; height: auto"
          ><p>EXCITED</p></v-btn
        ><br />

        <v-btn
          block
          @click="change('Pain', 'feeling_imgs/pain.png')"
          :color="mood === 'Pain' ? 'yellow' : 'none'"
          style="font-size: 40pt; height: auto"
          ><p>PAIN</p></v-btn
        ><br />

        <v-btn
          block
          @click="change('Shocked', 'feeling_imgs/shocked.png')"
          :color="mood === 'Shocked' ? 'yellow' : 'none'"
          style="font-size: 40pt; height: auto"
          ><p>SHOCKED</p></v-btn
        ><br />

        <v-btn
          block
          @click="change('Smile', 'feeling_imgs/smile.png')"
          :color="mood === 'Smile' ? 'yellow' : 'none'"
          style="font-size: 40pt; height: auto"
          ><p>SMLIE</p></v-btn
        ><br />
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
.focus-color {
  background-color: rgb(254, 205, 165);
}
</style>
