<script lang="ts" setup>
import { ref, watch } from "vue";
import type { VForm } from "vuetify/components";
const textInput = ref("0");
const parseNumber = ref();
const form = ref<InstanceType<typeof VForm> | null>(null);
async () => {
  const { valid } = await form.value!.validate();
  if (!valid) {
    parseNumber.value = 0;
  }
};

watch(
  () => textInput.value,
  () => {
    if (textInput.value == "") {
      parseNumber.value = 0;
    } else {
      parseNumber.value = parseInt(textInput.value);
    }
  }
);
</script>

<template>
  <v-container>
    <v-text-field
      label="Plase input number"
      v-model="textInput"
      :rules="[(v) => !!v || 'Number is not empty!!']"
      required
    ></v-text-field>
    <v-row>
      <v-col
        cols="1"
        style="font-size: 20pt"
        v-for="item in parseNumber"
        :key="item"
      >
        {{ item }}
      </v-col>
    </v-row>
  </v-container>
</template>
