<script setup lang="ts">
import { useCounterStore } from "../stores/counter";
const counterStrike = useCounterStore();
</script>
<template>
  <div>First Component</div>
  <div>{{ counterStrike.count }}</div>
</template>
