<script setup lang="ts">
import { useCounterStore } from "../stores/counter";
const counterStrike = useCounterStore();
</script>
<template>
  <div>Second Component</div>
  <div>{{ counterStrike.doubleCount }}</div>
</template>
