<script lang="ts" setup>
import { useProductStore } from "../stores/product";
const productStrike = useProductStore();
const props = withDefaults(
  defineProps<{
    id: number;
    name: string;
    price: number;
    index: number;
  }>(),
  {}
);
</script>

<template>
  <v-card variant="outlined">
    <v-card-item>
      <div class="text-center">
        <div>{{ props.name }}</div>
        <div>{{ props.price }}</div>
        <div>
          <v-btn
            @click="
              productStrike.addProducts(props.id, props.name, props.price)
            "
          >
            ADD
          </v-btn>
        </div>
      </div>
    </v-card-item>
  </v-card>
</template>
